**/.ipynb_checkpoints/*
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
__pycache__/*
*/__pycache__/*
**/__pycache__/*
*/*/__pycache__/*
**/.bash_history
**/.jupyter
**/.ipython
**/.local
**/.vscode
**/build/
**/dist/
